@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700');

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #5CA4EA;
  color: #333;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 66%;
  height: 35px;
}


.search {
  width: calc(100% - 10px);
  height: 35px;
  border: 0;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  padding-left: 10px;
  font-weight: 600;
  font-size: 12px;
  color: #4D8DCB;
}

.search::placeholder {
  color: #A4B9CE;
}

.search:focus {
  outline: none
}

.icon {
  color: #4D8DCB;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(0, -50%) scale(1.2);
}

.result {
  width: 100.75%;
  background-color: white;
  position: absolute;
  top: 110%;
}

.result p {
  font-size: 11px;
  padding-left: 5%;
  margin: 8% 0%;
  color: #6E6E6E
}

.result :first-child {
  font-weight: 800;
}

.result p {
  cursor: pointer;
}

.result p:hover {
  color: #4D8DCB;
}