@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700');

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #75C1E8;
  color: #333;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.sun {
  position: absolute;
  width: 66px;
  height: 66px;
  background-color: #FFD93C;
  border-radius: 50%;
  top: 10%;
  left: 20%
}


.cloud-big {
  position: absolute;
  top: 30%;
  right: -7%;
  animation: cloud-animation 30s linear alternate infinite
}

.cloud-medium {
  top: 25%;
  left: 17.5%;
  position: absolute;
  animation: cloud-animation 30s linear alternate infinite
}

.cloud-small {
  top: 20%;
  left: 55%;
  position: absolute;
  animation: cloud-animation 30s linear alternate infinite
}

@keyframes cloud-animation {
  from {
    transform: translateX(0px);
  }

  to {
    transform: translateX(-100%);
  }
}