* {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    margin:0;
    padding:0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 400px;
    border-radius: 5px;
    background: rgb(77, 195, 201);
    background: linear-gradient(-135deg, rgba(77, 195, 201, 1) 0%, rgba(67, 59, 144, 1) 100%);
}

.numbers {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 5.5em;
    width: 11.5em;
    position: relative;
}

.one {
    height: 100%;
    width: 15%;
    background-color: white;
    border-radius: 2px;
    z-index: 40;
}

.cero-1 {
    z-index: 30;
}

.cero-2 {
    z-index: 20;
}

.cero {
    margin-left: -5%;
    height: calc(100% - 44px);
    width: 30%;
    border: 22px solid white;
    border-radius: 4px;
    border-radius: 50%
}

.one-detail {
    z-index: 30;
    position: absolute;
    top: 0.5%;
    left: -8%;
    width: 10%;
    height: 40%;
    transform: rotate3d(0, 0, 1, 50deg);
}

.shadow {
    box-shadow: -1px -1px 79px -8px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: -1px -1px 79px -8px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: -1px -1px 79px -8px rgba(0, 0, 0, 0.5);
}

.text1 {
    font-size:4.75em;
    font-weight: 700;
    margin-top:-10px;
}

.text2 {
    font-size:1.45em;
    font-weight: 700;
    margin-top:-20px;
}

/* #4DC3C9 */

/* #433B9F */